*{
    margin: 0;
    padding: 0;
}
.score{
    height: 20vh;
    background-color: beige;
}
.play{
    display: grid;
    height: 55vh;
    overflow: hidden;
    grid-template-rows: auto auto auto; 
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    padding: 20px;
    align-items: center;
    background-color: rgb(158, 232, 238);
    margin-left: 450px;
    margin-right: 450px;
}
.b{
    height: 15vh;
    width: 15vh;
    border: 3px solid black;
    /* display: inline-block; */
}
img{
    height: 100%;
    width: 100%;
}
.winner{
    height :10vh;
}